body{
  background-color: white;
  margin: 0;
}

.header{
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  font-size: 40pt;
  color: black;
  background-color: gold;
}

.users{
  padding: 25px;
}

button{
  border: none;
  padding: 10px;
  font-size: 16pt;
  margin-right: 25px;
  margin-bottom: 25px;
  background-color: black;
  color: white;
  transition-duration: .2s;
  border-radius: 20px;
}

button:hover{
  background-color: gold;
  color: black;
  transition-duration: .2s;
  cursor: pointer;
}

.back{
  padding-top: 50px;
  padding-left: 25px;
  padding-bottom: 25px;
}

img{
  margin-right: 25px;
  margin-bottom: 25px;
  opacity: 1;
  transition-duration: .2s;
}

img:hover{
  cursor: pointer;
  opacity: .5;
  transition-duration: .2s;
}

.bigPic:hover{
  cursor: default;
  opacity: 1;
}